*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
}

.boxplay{
    margin: 20rem auto 0rem auto;
    border: 2px solid red;
    width: 60%;
    padding: 30px;
}
.boxplay button{
    background: blue;
    padding: 2em;
    font-size: 3rem;
}
.boxplay2{
    margin: 2rem auto 1rem auto;
    border: 2px solid red;
    width: 60%;
    padding: 30px;
}
.boxplay2 button{
    background: blue;
    padding: 2rem;
    font-size: 6rem;
}
